*.iml
.gradle
/local.properties
/.idea
.DS_Store
/app/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab

# Android Studio
*.hprof

# Firebase
backend/functions/node_modules/
backend/functions/lib/
backend/functions/.npm-cache/
backend/cloud-run/node_modules/
backend/cloud-run/lib/
backend/cloud-run/.npm-cache/
.firebase/
firebase-debug.log

# Secrets
**/google-services.json.bak
.env
.env.*
